/SpecialFocus/bin
/SpecialFocus/gen
/social_sdk_library_project/gen
/social_sdk_library_project/bin
/social_sdk_library_project_bai/gen
/social_sdk_library_project_bai/bin
/social_sdk_library_project_bai/bin
/social_sdk_library_project_bai/gen
/social_sdk_library_project_baidu/gen
/social_sdk_library_project_baidu/bin
